<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name='description' content='Calculate the LPAC-LEP Indicator Code Calculator for Texas Schools'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0 shrink-to-fit=no'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link href='assets/css/style.css' rel='stylesheet' type='text/css'>
    <title>LPAC-LEP Indicator Code Calculator</title>
</head>

<body>
    <!-- Header -->

    <header class="primary-header container group">

        <h1 class="title">
            LPAC-LEP Indicator Code Calculator
        </h1>

    </header>

    <!-- Welcome -->

    <section class="row-alt">
        <div class="welcome container">
            <h1>Welcome!</h1>
            <p>This calculator has been created to save teachers time and energy.
                Please select the student's grade and the current year in the input box below and click calculate.</p>
            <p>The following <strong>LPAC-LEP Table</strong> will update with the applicable data.</p>
        </div>
    </section>

    <!-- Main Content -->

    <section class="row">
        <div class="grid">

            <form action="#" id="selection-form">

                <label for="select-year">Select Current School Year</label>
                <select size="1" id="select-year" name="year-list" form="selection-form">
                    <option value="2032-2033">2032-2033</option>
                    <option value="2031-2032">2031-2032</option>
                    <option value="2030-2031">2030-2031</option>
                    <option value="2029-2030">2029-2030</option>
                    <option value="2028-2029">2028-2029</option>
                    <option value="2027-2028">2027-2028</option>
                    <option value="2026-2027">2026-2027</option>
                    <option value="2025-2026">2025-2026</option>
                    <option value="2024-2025">2024-2025</option>
                    <option value="2023-2024">2023-2024</option>
                    <option value="2022-2023">2022-2023</option>
                    <option value="2021-2022">2021-2022</option>
                    <option value="2020-2021" selected="selected">2020-2021</option>
                    <option value="2019-2020">2019-2020</option>
                    <option value="2018-2019">2018-2019</option>
                    <option value="2017-2018">2017-2018</option>
                    <option value="2016-2017">2016-2017</option>
                    <option value="2015-2016">2015-2016</option>
                    <option value="2014-2015">2014-2015</option>
                    <option value="2013-2014">2013-2014</option>
                    <option value="2012-2013">2012-2013</option>
                    <option value="2011-2012">2011-2012</option>
                    <option value="2010-2011">2010-2011</option>
                    <option value="2009-2010">2009-2010</option>
                    <option value="2008-2009">2009-2010</option>
                </select>

                <label for="select-grade">Select Current Grade</label>
                <select size="1" id="select-grade" name="grade-list" form="selection-form">
                    <option value="K" selected="selected">K</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

                <label for="select-lep-code">Select LEP Indicator Code</label>
                <select size="1" id="select-lep-code" name="lep-code-list" form="selection-form">
                    <option value="1 = EL (BIL/ESL/PD)" selected="selected">1 = EL (BIL/ESL/PD)</option>
                    <option value="F = M1">F = M1</option>
                    <option value="S = M2">3 = M2</option>
                    <option value="3 = M3">S = M3</option>
                    <option value="4 = M4">3 = M4</option>
                </select>

                <input id="btnclick" type="submit" name="submit"
                    value="Calculate"></input>
            </form>

            <table id='table'>
                <thead>
                    <tr>
                        <th scope="col" id="school-year-table-header">School Year</th>
                        <th scope="col" id="grade-table-header">Grade</th>
                        <th scope="col" id="lep-indicator-code-table-header">LEP Indicator Code</th>
                        <!--<th>Years in School (if applicable)</th>-->
                    </tr>
                </thead>
            </table>

            Edit Grade:<input type="text" name="grade" id="grade">
            <button onclick="editGrade();">Submit Grade Edit</button>

        </div>
    </section>

    <script src="assets/script/script.js" type="text/javascript"></script>
</body>

<!-- Footer -->

  <footer class=" primary-footer container group"><small>&copy; LPAC-LEP Indicator Code Calculator</small></footer>

</html>

